{% sw_extends '@FroshProductCompare/storefront/component/compare/compare-float.html.twig' %}

{#
    Voltimax Theme v3.0.0 - Compare Float Button Override
    Positions the floating compare button on the right side instead of left
#}

{% block frosh_product_compare_float_button %}
    <div class="{{ floatingButtonClasses }} js-compare-float-button voltimax-compare-float-right"
         style="left: unset !important; right: 1.5rem !important; bottom: 5rem !important;"
         title="{{ "froshProductCompare.offcanvas.compareNow"|trans }}">
        <button class="btn {{ buttonClasses }}"
                title="{{ "froshProductCompare.offcanvas.compareNow"|trans }}">
            {% block frosh_product_compare_float_icon %}
                {% sw_icon 'bag-product' style { 'size': 'sm' } %}
            {% endblock %}
            <span class="badge {{ badgeClasses }}"></span>
        </button>
    </div>
{% endblock %}