{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{# Reorganize mobile header layout - Logo in middle #}
{% block layout_header_navigation %}
    <div class="row align-items-center header-row">
        {# Desktop: Keep original layout #}
        <div class="d-none d-lg-flex w-100 align-items-center">
            {% block layout_header_logo_desktop %}
                <div class="col-lg-auto header-logo-col">
                    {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                </div>
            {% endblock %}
            
            {% block layout_header_search_desktop %}
                <div class="col header-search-col">
                    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                </div>
            {% endblock %}
            
            {% block layout_header_actions_desktop %}
                <div class="col-auto header-actions-col">
                    <div class="row g-0">
                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist_desktop %}
                                <div class="col-auto">
                                    <div class="header-wishlist">
                                        <a class="btn header-wishlist-btn header-actions-btn"
                                           href="{{ path('frontend.wishlist.page') }}"
                                           title="{{ 'header.wishlist'|trans|striptags }}"
                                           aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                        </a>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}
                        
                        {# Compare button for desktop #}
                        {% if config('FroshProductCompare.config.showInHeader') %}
                            {% block frosh_product_compare_widget_button_desktop %}
                                <div class="col-auto">
                                    {% sw_include '@Storefront/storefront/component/compare/compare-float.html.twig' with {
                                        buttonClasses: 'compare-menu-btn header-actions-btn',
                                        floatingButtonClasses: '',
                                        badgeClasses: 'badge-primary'
                                    } %}
                                </div>
                            {% endblock %}
                        {% endif %}
                        
                        {% block layout_header_actions_account_desktop %}
                            <div class="col-auto">
                                <div class="account-menu">
                                    {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                </div>
                            </div>
                        {% endblock %}
                        
                        {% block layout_header_actions_cart_desktop %}
                            <div class="col-auto">
                                <div class="header-cart">
                                    <a class="btn header-cart-btn header-actions-btn"
                                       href="{{ path('frontend.checkout.cart.page') }}"
                                       data-off-canvas-cart="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
        
        {# Mobile/Tablet: New layout with logo in middle #}
        <div class="d-lg-none w-100">
            <div class="row align-items-center py-2 gx-1">
                {# Left: Menu button #}
                <div class="col-auto ps-2 pe-1">
                    {% block layout_header_navigation_toggle_mobile %}
                        <div class="menu-button">
                            <button class="btn nav-main-toggle-btn header-actions-btn p-1"
                                    type="button"
                                    data-off-canvas-menu="true"
                                    aria-label="{{ 'general.menuLink'|trans|striptags }}">
                                {% sw_icon 'stack' %}
                            </button>
                        </div>
                    {% endblock %}
                </div>
                
                {# Center: Logo #}
                <div class="col d-flex justify-content-sm-center px-1">
                    {% block layout_header_logo_mobile %}
                        <div class="mw-100 h-auto position-relative" style="max-width: 100px;">
                            {% sw_include '@Storefront/storefront/layout/header/logo.html.twig' %}
                        </div>
                    {% endblock %}
                </div>
                
                {# Right: Search & Actions #}
                <div class="col-auto ps-1 pe-2">
                    <div class="row g-1 align-items-center">
                        {% block layout_header_search_toggle_mobile %}
                            <div class="col-auto">
                                <div class="search-toggle">
                                    <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed p-1"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#searchCollapse"
                                            aria-expanded="false"
                                            aria-controls="searchCollapse"
                                            aria-label="{{ 'header.searchButton'|trans|striptags }}">
                                        {% sw_icon 'search' %}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}
                        
                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist_mobile %}
                                <div class="col-auto d-none d-sm-block">
                                    <div class="header-wishlist">
                                        <a class="btn header-wishlist-btn header-actions-btn p-1"
                                           href="{{ path('frontend.wishlist.page') }}"
                                           title="{{ 'header.wishlist'|trans|striptags }}"
                                           aria-label="{{ 'header.wishlist'|trans|striptags }}">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/wishlist-widget.html.twig' %}
                                        </a>
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}
                        
                        {# Compare button for mobile #}
                        {% if config('FroshProductCompare.config.showInHeader') %}
                            {% block frosh_product_compare_widget_button_mobile %}
                                <div class="col-auto d-none d-sm-block">
                                    {% sw_include '@Storefront/storefront/component/compare/compare-float.html.twig' with {
                                        buttonClasses: 'compare-menu-btn header-actions-btn p-1',
                                        floatingButtonClasses: '',
                                        badgeClasses: 'badge-primary'
                                    } %}
                                </div>
                            {% endblock %}
                        {% endif %}
                        
                        {% block layout_header_actions_account_mobile %}
                            <div class="col-auto">
                                <div class="account-menu">
                                    <div class="dropdown">
                                        <button class="btn header-actions-btn account-menu-btn p-1"
                                                type="button"
                                                id="accountMenuDropdown"
                                                data-bs-toggle="dropdown"
                                                aria-expanded="false"
                                                aria-label="{{ 'account.accountSettings'|trans|striptags }}">
                                            {% sw_icon 'avatar' %}
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-end">
                                            {% sw_include '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endblock %}
                        
                        {% block layout_header_actions_cart_mobile %}
                            <div class="col-auto">
                                <div class="header-cart">
                                    <a class="btn header-cart-btn header-actions-btn p-1"
                                       href="{{ path('frontend.checkout.cart.page') }}"
                                       data-off-canvas-cart="true"
                                       title="{{ 'checkout.cartTitle'|trans|striptags }}"
                                       aria-label="{{ 'checkout.cartTitle'|trans|striptags }}">
                                        {% sw_include '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}
                                    </a>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            </div>
            
            {# Mobile search collapse #}
            <div class="collapse" id="searchCollapse">
                <div class="header-search-col">
                    {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}