{% sw_extends '@Storefront/storefront/layout/header/actions/language-widget.html.twig' %}

{% block layout_header_actions_language_widget_form %}
    {% if position is defined and position == 'offcanvas' %}
        <form method="post"
              action="{{ path('frontend.checkout.switch-language') }}"
              class="language-form"
              data-form-auto-submit="true">
            {% block layout_header_actions_language_widget_content %}
                {% set isoCode = page.header.activeLanguage.translationCode.code|slice(0, 2) %}
                {% set language = page.header.activeLanguage.name %}
                {% set languageLabel = "footer.serviceMenuLanguage"|trans|sw_sanitize %}

                <div class="languages-menu dropdown">
                    <button class="btn btn-outline-secondary btn-sm border rounded dropdown-toggle"
                            type="button"
                            id="languagesDropdown-{{ position }}"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                            aria-label="{{ languageLabel }} ({{ language }} {{ "header.accessibilityCurrentLanguage"|trans|sw_sanitize }})">
                        <span aria-hidden="true" class="top-bar-list-icon language-flag country-{{ isoCode }} language-{{ isoCode }}"></span>
                        <span class="top-bar-nav-text">{{ language }}</span>
                    </button>

                    {% block layout_header_actions_languages_widget_form_items %}
                        <ul class="top-bar-list dropdown-menu dropdown-menu-end"
                            aria-label="{{ "header.accessibilityLanguageMenu"|trans|sw_sanitize }}">
                            {% for language in page.header.languages %}
                                <li class="top-bar-list-item dropdown-item{% if language.id is same as(page.header.activeLanguage.id) %} item-checked active{% endif %}">
                                    {% block layout_header_actions_languages_widget_form_items_flag %}
                                        {% if language.id is not same as(page.header.activeLanguage.id) %}
                                            <label class="top-bar-list-label"
                                                   for="{{ position }}-{{ language.id }}">
                                                <input id="{{ position }}-{{ language.id }}"
                                                       class="top-bar-list-radio"
                                                       value="{{ language.id }}"
                                                       name="languageId"
                                                       type="radio"
                                                       {% if language.id is same as(page.header.activeLanguage.id) %}checked="checked"{% endif %}>
                                                {% set isoCode = language.translationCode.code|slice(0, 2) %}
                                                <span aria-hidden="true" class="top-bar-list-icon language-flag country-{{ isoCode }} language-{{ isoCode }}"></span>
                                                {{ language.name }}
                                            </label>
                                        {% else %}
                                            <label class="top-bar-list-label"
                                                   for="{{ position }}-{{ language.id }}">
                                                <input id="{{ position }}-{{ language.id }}"
                                                       class="top-bar-list-radio"
                                                       value="{{ language.id }}"
                                                       name="languageId"
                                                       type="radio"
                                                       checked="checked">
                                                {% set isoCode = language.translationCode.code|slice(0, 2) %}
                                                <span aria-hidden="true" class="top-bar-list-icon language-flag country-{{ isoCode }} language-{{ isoCode }}"></span>
                                                {{ language.name }}
                                            </label>
                                        {% endif %}
                                    {% endblock %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>

                <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}">

                {% for key, value in app.request.attributes.get('_route_params') %}
                    <input name="redirectParameters[{{ key }}]" type="hidden" value="{{ value }}">
                {% endfor %}
            {% endblock %}
        </form>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}